@mixin flexBox($direction, $alignItems, $justifyContent) {
    /*這串是把每一個細項變數整合成一個mixin，然後像是display 是不變的也可以直接打在裡面，方便後面不需要再多打一次
    打法   < @mixin "變數命名" (細項變數) >*/
    display: flex;
    flex-direction: $direction;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@mixin boxSizing {
    box-sizing: border-box;
}
/*每一個 mixin 都對應一個 include*/

@for $i from 0 through 24{
    .flex_#{$i}{
        flex:$i;
    }
}

@for $i from 1 through 20{
    [data-row-count="#{$i}"] {
        .data_row{
            width:calc(100%/ #{$i});
        }
    }
}

.row {
    @include boxSizing;

    position: relative;
    width: 100%;
    margin: 0;

    @include dataRowCount;

    &.full {
        width: 100%;
        height: 100%;
    }

    &.horizontal {
        @include flexBox(row);

        &.v_center {
            @include flexAlign(center, flex-start);
        }

        &.h_center {
            @include flexAlign(flex-start, center);
        }

        &.end {
            @include flexAlign(center, flex-end);
        }

        &.bottom {
            @include flexAlign(flex-end, center);
        }

        &.bottom_left {
            @include flexAlign(flex-end, flex-start);
        }

        &.bottom_right {
            @include flexAlign(flex-end, flex-end);
        }

        &.space {
            justify-content: space-between;
        }
    }

    &.vertical {
        @include flexBox(column);

        &.v_center {
            @include flexAlign(flex-start, center);
        }

        &.h_center {
            @include flexAlign(center, flex-start);
        }

        &.end_right {
            @include flexAlign(flex-end, flex-end);
        }

        &.end_left {
            @include flexAlign(flex-end, flex-start);
        }

        &.end {
            @include flexAlign(flex-end, center);
        }
    }

    &.normal {
        @include flexAlign(flex-start, flex-start);
    }

    &.center {
        @include flexAlign(center, center);
    }

    &.half {
        width: 50%;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.space {
        justify-content: space-between;
    }

    &.inset {
        @include boxSizing;

        padding: 1rem;
    }

    &.static {
        width: auto;
    }
}