

p{
    font-family: 'Fredoka One' ;
    color: aliceblue;
    text-align: center;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}
 
/*class*/

.data_row {
    @include boxSizing();
    word-break: break-all;
}

.line{
    @include boxSizing();
    // border: 2px solid red;
}

.bg{
    display: block;
    background: url("../img/pc/bg.jpg") no-repeat;
    height: 100%;
}

.player{
    background: url("../img/pc/user_status_bg.png") no-repeat;
    background-size: contain;
}

.player::after{
    width: 80%;
    height: 80%;
    content: "";
    position: absolute;
    right: 5rem;
    bottom: -2rem;
    background: url("../img/pc/user_status_bling.png")no-repeat center;
    background-size: contain;
}

.player_img{
    
    position: relative;
    
}

.player_img::after{
    content: "";
    display: block;
    padding-bottom: 100%;
    border-radius: 50%;
    background: url("../img/pc/user.jpg")no-repeat center;
    background-size: cover;
}

.lv{
    border-radius: 40px;
    background: black;
}

.lv::after{
    content: "";
    display: block;
    background-color: rgb(255, 196, 0);
    width: 50%;
    height: 100%;
    border-radius: 40px;
}

.count{
    @extend .height_4;
    @extend .width_4;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    background: url("../img/pc/count_bg.svg")center no-repeat;
    background-size: contain;
}

.new{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}
.new p{
    -webkit-text-stroke: 2px rgb(78, 57, 4);
    font-size: 1.8rem;
    background: linear-gradient( 180deg, #ffdf88 50%, #c57a08 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quest_header::after{
    width: 100%;
    height: 150%;
    content: "";
    display: block;
    position:absolute;
    top:-4rem;
    left: -2rem;
    background: url("../img/pc/daily_quest_header.png")no-repeat center;
    background-size: contain;
}

.quest{
    
    display: block;
    background: url("../img/pc/quest_bg.png")no-repeat center;
    background-size: contain;
    position: absolute;
    z-index: 999;
}


.quest_grow{
    content: "";
    position: absolute;
    z-index: 1;
    display: none;
    background:url("../img/pc/quest_bg_blur.png") no-repeat center;
    background-size: contain;
    filter: blur(8px);
    transform: scale(1.02);
}

.button:hover{
    cursor: pointer;
}

.quest:hover + .quest_grow{
    
    display: block;
}

.star{
    background: url("../img/pc/star.svg")no-repeat center;
    background-size: contain;
}

.talk_st{
    border: 1px solid rgb(9, 95, 175);
    background: rgb(2, 26, 48);
    opacity: 80%;
}

.talk{
    overflow-y:scroll;
}

::-webkit-scrollbar-button:vertical:decrement{
    height: 25%;
    background: url("../img/pc/icon_arrow_up.svg")no-repeat center;
    background-size: contain;
   
}

::-webkit-scrollbar-button:vertical:increment{
 height: 25%;
 background: url("../img/pc/icon_config.svg")no-repeat center;
 background-size: contain;
}

::-webkit-scrollbar{
    width: 3rem;
    background: rgb(2, 26, 48);
}

input[type="text"]{
    position: absolute;
    right: 3rem;
    bottom: 0.1rem;
    margin: 0.5rem;
    height: 18%;
    width: 85%;
    background: #115a8b;
    border: none;
    border-radius: 8px;
}

.talk_button{
   right: 4rem;
   bottom: 0.8rem;
   background: none;
   border: none;
}

.airplane1{
    width: 0;
height: 0;
border-style: solid;
border-width: 18px 0 0 24px;
border-color: transparent transparent transparent #94beec;
}
.airplane2{
    width: 0;
height: 0;
border-style: solid;
border-width: 18px 24px 0px 0px;
border-color: #94beec transparent transparent transparent;
}

.lock{
    padding-left: 6rem;
    background: url("../img/pc/lock.png")no-repeat center;
    background-size: contain;
}

.text p{
    font-size: 1.8rem;
    background: linear-gradient( 180deg, #ffdf88 50%, #c57a08 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottom_menu{
    background-color: rgb(7, 46, 82);
}