.container {
    @include flexBox(row, stretch, flex-start);
    /*include flexBox()這段裡面的內容是去設定裡面宣告出來的變數內容*/
    @include boxSizing();
    padding: 1rem;
    flex-wrap:wrap;
    .data_row {
        @include boxSizing();
        border: 1px solid #ccc;
        min-height:60px;
        word-break: break-all;
    }


}

