p{
    font-family: 'Fredoka One' ;
    color: aliceblue;
    text-align: center;
    white-space:nowrap;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}
 
/*class*/

.data_row {
    @include boxSizing();
    word-break: break-all;
}

.line{
    @include boxSizing();
    // border: 2px solid red;
 }

.bg{
    display: block;
    background: url("../img/pc/bg.jpg") no-repeat;
    background-size: cover;
    height: 100%;
}

.button:hover{
    cursor: pointer;
}



/*--------------上方玩家資訊--------------*/
.player_info{
    width: 70vh;
    height: 12vh;
   
}

.player_background{
    width: 70vh;
    height: 12vh;
    background: url("../img/pc/user_status_bg.png") no-repeat;
    background-size: contain;
}

.player{
    width: 90%;
    height: 80%;
    
    &.player::after{
        width: 200px;
        height: 100px;
        content: "";
        position: absolute;
        left: 10%;
        top:5vh;
        background: url("../img/pc/user_status_bling.png")no-repeat center;
        background-size: contain;
    }

    
} 

.player_img{
    height: 80px;
    width: 80px;
    position: relative;
    display: block;
    padding: 12px;
    padding-top: 12px;
    &::after{
        height: 100%;
        width: 100%;
        content: "";
        display: block;
        border-radius: 50px;
        background: url("../img/pc/user.jpg")no-repeat center;
        background-size: cover;
        }
}

  /*---------玩家等級-------------*/
 .lv_bar{
    border-radius: 40px;
    background: black;

    &::after{
            content: "";
            display: block;
            background: linear-gradient(to bottom, #fce817 0%, #fce817 35%, #e6bc06 100%);
            width: 50%;
            height: 100%;
            border-radius: 40px;
    }
}

.lv_number{
    font-family: "Fredoka One";
    color: $lightGay;
    -webkit-text-stroke: 1px #2c8fe0;
    position: absolute;
    padding-top: 2%;
    top:0;
    left: 10%;
}
/*-------------星星------------*/
.star{
    background: url("../img/pc/star.svg")no-repeat center;
    background-size: contain;
}
.star_block{
    width: 100px;
    height: 88px;
}
/*---------金錢----------*/
.money{
    position: relative;
    background: #115a8b;
    border-radius: 20px;
    background: linear-gradient(to bottom, #003c69 0%, #003c69 50%, #003155 50%, #003155 100%);;
    &::before{
        content: "";
        display: block;
        position: absolute;
        left: -1%;
        bottom: -2px;
        width: 25%;
        height: 120%;
        background: url("../img/pc/coin.svg")no-repeat center;
        background-size: contain;
    }
    
    
}
.money_text{
    font-size: 1.4rem;
    padding: 0.6rem 1rem 0.6rem 6rem;
    color: $lightGay;
}


/*-------------上方menu通知------------*/
.count{
    @extend .height_20;
    @extend .width_20;
    position: absolute;
    right: 20%;
    bottom: 20%;
    background: url("../img/pc/count_bg.svg")center no-repeat;
    background-size: contain;
}

.new{
    @extend .height_15;
    @extend .width_40;
    position: absolute;
    right: 10%;
    bottom: 25%;
    background: url("../img/pc/new.svg") no-repeat center;
    background-size: contain;
}


/*-------------禮包-------------*/
.quest{
    
    display: block;
    background: url("../img/pc/quest_bg.png")no-repeat center;
    background-size: contain;
    position: absolute;
    z-index: 999;
}

.quest_header::after{
    width: 100%;
    height: 150%;
    content: "";
    display: block;
    position:absolute;
    top:-5vh;
    left: -2rem;
    background: url("../img/pc/daily_quest_header.png")no-repeat center;
    background-size: contain;
}

.quest_grow{
    content: "";
    position: absolute;
    z-index: 1;
    display: none;
    background:url("../img/pc/quest_bg_blur.png") no-repeat center;
    background-size: contain;
    filter: blur(8px);
    transform: scale(1.02);
}

.quest:hover + .quest_grow{
    
    display: block;
}

.lock{
    padding-left: 2rem;
    background: url("../img/pc/lock.png")no-repeat center;
    background-size: contain;
}


/*-----------------禮包文字------------------*/
.text p{
    font-family: "Microsoft JhengHei";
    font-weight: bold;
    font-size: 3vh;
    background: linear-gradient( 180deg, #ffdf88 50%, #c57a08 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*----------------下方對話框和menu--------------*/
.message_bg{
    padding: 8px 0px;
    background: rgb(2, 26, 48);
    opacity: 80%;
}

.message{
    overflow-y: auto;
}

.tag-system{
    padding: 6px 14px;
    background: linear-gradient(to bottom, #f2ce00, #f26d00);
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    max-width: 52px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-shadow: 1px 1px #000000;
}
.tag-world{
    padding: 6px 14px;
    background: linear-gradient(to bottom, #00c2f2, #0400f2);
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    max-width: 52px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-shadow: 1px 1px #000000;
}
.tag-ship{
    padding: 6px 14px;
    background: linear-gradient(to bottom, #f27500, #f20000);
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    max-width: 52px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-shadow: 1px 1px #000000;
}

.txt-system{
    color: rgb(8, 173, 16);
    word-break: break-word;
}
.txt-world{
    color: #2c8fe0;
    word-break: break-word;
}
.txt-ship{
    color: #f20000;
    word-break: break-word;
}


input[type="text"]{
    padding-left: 1rem;
    background: #115a8b;
    border: none;
    border-radius: 8px;
    color: white;
}

.send_icon{
    position: absolute;
    right: 8px;
    top: 8px;

    border-style: solid;
    border-width: 12px 0 12px 26px;
    border-color: transparent transparent transparent #19aaf8;
}

.chatlog-txt{
    display: inline-block;
    position: absolute;
    right: -3.5rem;
    top: 2.5rem;
    color: #2c8fe0;
    transform: rotate(90deg);

    &.chatlog-txt::before{
        content: "";
        display: inline-block;
        border: 1px solid #2c8fe0;
        width: 10px;
        height: 10px;
        background-color: #2c8fe0;
    }
}


.bottom_menu{
    background-color: rgb(7, 46, 82);
}


.menu-txt{
    @extend .chatlog-txt;
    top:-1.5rem;
    right: 0.5rem;
    transform: rotate(0deg);
}

